@page {
  /* stylelint-disable-next-line value-keyword-case */
  size: A4;
  margin: 0;
}

body {
  margin: 0;
}

.sheet {
  width: 210mm;
  height: 297mm;
  padding: 10mm;
  margin: 0;
  overflow: hidden;
  box-sizing: border-box;

  /*
   * Ref: https://developer.mozilla.org/ja/docs/Web/CSS/break-before
   *
   * "break-before: always" hasn't been supported in many browsers yet.
   */
  page-break-after: always;
}

@media screen {
  body {
    background-color: rgba(224 224 224);
  }

  .sheet {
    margin: 1mm auto;
    box-shadow: 0 0 1mm rgba(0 0 0 / 30%);
    background-color: rgba(255 255 255);
  }
}

/*
 * Ref: https://qiita.com/cognitom/items/d39d5f19054c8c8fd592
 *
 * Workaround for Chrome bug
 */
@media print {
  body {
    width: 210mm;
  }
}
